<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>appclips:bonates.com</string>
		<string>applinks:bonates.com</string>
	</array>
	<key>com.apple.developer.parent-application-identifiers</key>
	<array>
		<string>$(AppIdentifierPrefix)com.nsbr.AppDemo</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.V45SL99ZK4.AppDemo.appClipMigration</string>
	</array>
</dict>
</plist>
